html, body {
    background-image: url(whiteground.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}
  
.center {
    display: block;
    margin: auto;
}